#app_moodboost {
    position: relative;
    margin: 0 auto;
    padding: 111px 70px 0 70px;
    // max-width: 1440px;
}



.main-posts {
    background-color: #F6FFF6;
}


#page {
    padding-top: 20px;
    margin-left: 173px;
    display: flex;
    max-width:100%;
    flex-flow: row wrap;
    height: 100vh;
}

#sidebar {
    width: 35%;
    // padding-top:30px;
    // max-height: 100%;
    // overflow-y: auto;
}

.tags-list {
    margin-top: 0;
    width: 172px;
    height: -webkit-calc(100% - 118px);
    height: calc(100% - 110px);
    position: fixed;
    overflow: hidden;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
}

.feed {
    width: 65%;
}

.feed__title {
    padding-bottom: 30px;
    font-size: 22px;
    font-weight: 500;
    color:#101010;
}

.content-slidebar {
    position: sticky;
    top: 120px;
    padding-left:30px;
}

.sign-up-weekly-sidebar {
    height: 350px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1400px) {
    .sign-up-weekly-sidebar {
         height: 300px;
        
       
    }
}

@media screen and (max-width: 1400px) {
    #app_moodboost {
        padding: 111px 30px 0 30px;
    }
}

@media screen and (max-width: 992px) {
    #sidebar {
        display: none;
    }
    .feed {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .tags-list {
        transition: all .2s ease-out;
        left: -400px;
        z-index: 99;
        width: 280px;
        background: white;
        width: 320px;
    }   
    #page {
        margin-left: 0;
    } 
}

@media screen and (max-width: 570px) {
      
   
    #app_moodboost {
        padding: 111px 10px 0 10px;
    }
    .main-article {
        background-color: transparent;
    }
}

.openAside {
    left: 0;
}
