.article-preview-middle {
    align-items: stretch;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    overflow: hidden;
    max-width: 100%;
    vertical-align: top;
    align-self: flex-start;
    margin-bottom: 30px;
    display: block;
    // width: 100%;
    //height: 100%;
    //overflow-y: scroll;
    // will-change: transform;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(80, 80, 80, 0.25);
    border-radius: 10px;
    
   
}

.article-preview-middle__title {
    display: flex;
    color: #101010;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    padding: 20px 15px;
}

.article-preview-middle__photo {
    border-radius: 8px;
    width: 100%;
    height: 176px;
    -o-object-fit: cover;
    object-fit: cover;
}