@import './vendor/normalize.css';
@import './icomoon/style.css';

  body {
    font-family: Helvetica,Arial,Helvetica Neue,sans-serif;
    font-size: 16px;
    line-height: 1.65;
    color: #000;
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
    background-color: #F6FFF6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

@media screen and (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



